@import "core/mixin/_mixin"
@import "core/variable/_color"

.l-blocks

    &.l-top-1

        .c-cols.col-55

            .content

                .u-wrap

                    &.p-ani-fadeIn

                        &::before
                            animation: wrap-to-right 2s cubic-bezier(0.4, 0, 0.2, 1) forwards

                    &.p-ani-fadeInUp

                        &::before
                            animation: wrap-to-right 2s cubic-bezier(0.4, 0, 0.2, 1) forwards

    &.l-top-2

        .bg
            bottom: -36px

    &.l-top-4

        .c-products

            .item

                .c-title
                    transition: var(--transition-default)

                &:hover .c-title
                    color: var(--color-main)

    &.l-top-5

        .c-cols

            &.col-55

                .thumb

                    img
                        max-width: 645px

                .content

                    img
                        max-width: 630px

@media only screen and (min-width: 992px)
    .l-blocks

        &.l-top-1

            .c-cols

                &.col-55

                    .thumb
                        width: 51%
                        max-width: 712px

                        img
                            max-width: 640px

                    .content
                        width: 45%
                        max-width: 627px
