/* top page */
.l-blocks.l-top-2 .bg {
  bottom: -36px;
}
.l-blocks.l-top-5 .c-cols.col-55 .thumb img {
  max-width: 645px;
}
.l-blocks.l-top-5 .c-cols.col-55 .content img {
  max-width: 630px;
}

@media only screen and (min-width: 992px) {
  .l-blocks.l-top-1 .c-cols.col-55 .thumb {
    width: 51%;
    max-width: 712px;
  }
  .l-blocks.l-top-1 .c-cols.col-55 .thumb img {
    max-width: 640px;
  }
  .l-blocks.l-top-1 .c-cols.col-55 .content {
    width: 45%;
    max-width: 627px;
  }
}