.l-blocks.l-top-1 .c-cols.col-55 .content .u-wrap.p-ani-fadeIn::before {
  animation: wrap-to-right 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.l-blocks.l-top-1 .c-cols.col-55 .content .u-wrap.p-ani-fadeInUp::before {
  animation: wrap-to-right 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.l-blocks.l-top-2 .bg {
  bottom: -36px;
}
.l-blocks.l-top-4 .c-products .item .c-title {
  transition: var(--transition-default);
}
.l-blocks.l-top-4 .c-products .item:hover .c-title {
  color: var(--color-main);
}
.l-blocks.l-top-5 .c-cols.col-55 .thumb img {
  max-width: 645px;
}
.l-blocks.l-top-5 .c-cols.col-55 .content img {
  max-width: 630px;
}

@media only screen and (min-width: 992px) {
  .l-blocks.l-top-1 .c-cols.col-55 .thumb {
    width: 51%;
    max-width: 712px;
  }
  .l-blocks.l-top-1 .c-cols.col-55 .thumb img {
    max-width: 640px;
  }
  .l-blocks.l-top-1 .c-cols.col-55 .content {
    width: 45%;
    max-width: 627px;
  }
}
@media only screen and (max-width: 991px) {
  .l-blocks.l-top-5 .c-cols.col-55 .thumb img {
    max-width: 100%;
  }
  .l-blocks.l-top-5 .c-cols.col-55 .content img {
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .l-blocks.l-top-3 .c-banner.banner-custom .banner .parallax.parallax-bg {
    background-position: 30% 30%;
  }
  .l-blocks.l-top-4 .c-banner.banner-custom .banner .parallax.parallax-bg {
    background-size: auto 77%;
    background-position: 50% 0;
  }
  .l-blocks.l-top-5 .c-banner.banner-custom .banner .parallax.parallax-bg {
    background-position: 47% top;
  }
  .l-blocks.l-top-6 .c-banner.banner-custom .banner .parallax.parallax-bg {
    background-size: auto 77%;
    background-position: 80% 0;
  }
}